<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary"%>
<% @cocktails.each do |cocktail| %>
<ul>
  <li>
    <%= link_to "#{cocktail}", cocktail_path(@cocktail) %>
  </li>
</ul>
